.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px; /* Adds space between buttons */
  text-decoration: none; /* Removes underline from links */
}

.button:first-child {
  margin-top: 0; /* Removes margin from the first button */
}

.button:hover {
  background-color: darkblue;
}

.title {
  font-size: x-large;
  text-align: center;
}